#root {
    width: 80%;
    margin: 0 auto;
  }

  body {
    
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
      min-height: 100vh;
      flex-direction: column;
      font-family: 'Courier New', Courier, monospace;
    
    }

    header {
        position: relative;
                height:130px;
        color: lightslategray;
        text-align: right;
        padding: 10px;
      }
      
      footer {
        display:block;
        height: 130px;
        bottom: 0;
        width: 100%;
        background-color: rgb(208, 247, 240);
        color: lightslategray;
        text-align: center;
        
          
       
        
        }

        .nav {
          background-color: rgb(248, 243, 153);
        }

        h1 {
          color: lightslategray;
          text-align:left; 
        }

        .footerH5 {
          padding: 50px;
        }

        a {
          
          color: rgb(245, 145, 206);
                }